.nav-link {
    display: flex;
    background-color: black;
    color: #fff;
    z-index: 11;
}

.nav-link__menu {
    color: #fff;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 20px;
    height: 100%;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    z-index: 11;
}

.nav-link__menu:hover {
    color: #15cdfc;
}

.nav-link__logo h1 {
    line-height: 80px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-right: 500px;
    z-index: 11;
}

.nav-link__hamburger-icon {
    display: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .nav-link__hamburger-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: (-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}